* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    background-color: #31511E;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
}

.menu {
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    height: 40px;
}

.menu-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

main {
    padding: 40px 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #ffffff;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #f4f4e6;
    border: none;
    border-radius: 5px;
    color: #31511E;
}

select {
    -webkit-appearance: none; /* Oculta el estilo por defecto */
    -moz-appearance: none;
    appearance: none;
    background-image: url('/ASSETS/dropdown-arrow.png'); /* Puedes agregar un icono de flecha personalizado aquí */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
}

.cancel-btn {
    background-color: #31511E;
    color: #ffffff;
}

.save-btn {
    background-color: #31511E;
    color: #ffffff;
}

/* Estilos del menú desplegable */
.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.fullscreen-menu.active {
    opacity: 1;
    visibility: visible;
}

.fullscreen-menu .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.fullscreen-menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    text-align: center;
}

.fullscreen-menu ul li {
    margin: 15px 0;
}

.fullscreen-menu ul li a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.menu-footer {
    text-align: center;
}

.menu-footer h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.menu-footer ul {
    list-style: none;
    padding: 0;
}

.menu-footer ul li {
    margin: 10px 0;
}

.menu-footer ul li a {
    color: white;
    text-decoration: none;
}

.menu-footer p {
    margin-top: 20px;
    font-size: 1em;
}

.menu-footer span {
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
}
